name: Latest Articles
on:
  schedule: # Run workflow automatically
      - cron: '0 0 * * *'
  workflow_dispatch:
permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: "BLOG"
          commit_message: "Updated readme with the latest Blog data"
          feed_list: "https://lo-victoria.com/rss.xml"
          max_post_count: 5
